{% extends "admin/templates/admin_template.html" %}
{% block title %}Dashboard {% endblock %}
{% block content %}
  <h1 style="color: red;" >Dashboard !</h1>
  <p>This is Dashboard Page. Only for admin.</p>
{% endblock %}
