{% extends "admin/templates/admin_template.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
  <h1>{{ user['name'] }}</h1>
  <h2>{{ user['bio'] }}</h2>
  <h3><em>{{ user['twitter_handle'] }}</em></h3>
{% endblock %}
