{% extends "public/templates/public_template.html" %}

{% block title %} Guests List {% endblock %}

{% block content %}
<div class="flex flex-col w-1/2 m-auto">
  <h1 class="text-2xl py-5 text-center"> Add Guests To The List: </h1>
  <div class="flex flex-col">
    <label for="name" class="py-3">Name</label>
    <input name="name" class="py-3 pl-5" id="name" type="text" placeholder="Enter Your Name:" value="" />
    <label for="message" class="py-3">Message</label>
    <textarea id="message" name="message" rows="5" class="px-3"></textarea>
    <button class="py-3 bg-blue-500 text-white my-3 rounded" onclick="submitData()">ADD</button>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
