{% extends "public/templates/public_template.html" %}
{% import "macros/macros.html" as macro %}
{% block title %} Index {% endblock %}

{% block content %}
  <div class="flex pt-10">
    <div class="px-10">
      {# html_text|safe #}
      <img alt="Sad Cat" src="{{ url_for('static', filename='img/demo.jpg') }}"/>
    </div>
    <div>
      <h1 class="font-semibold text-4xl">Today's Date: {{ date|clean_date }}</h1>
      <h1 class="font-semibold text-4xl">Name: {{ name|upper }}</h1>
      <h1 class="font-semibold text-2xl">Age: {{ age }}</h1>

      <p class="text-xl pt-10">Super Heros I like most: </p>
      <ul>
	{% for hero in super_heros %}
	  <li> {{ loop.index }}. {{ hero }} </li>
	{% endfor %}
      </ul>

      <p class="text-xl pt-10">
	Marks I got in Class Eight in {{ marks|length }} Subjects: {{ marks.keys()|join(", ") }}
      </p>
      <ul>
	{% for k, v in marks.items() %}
	  <li>{{ k }}: {{ v }}</li>
	{% endfor %}
      </ul>
      
      {% set a, b = colors %}
      <p class="text-xl pt-10">The colors like most like: {{ a }}, {{ b }} </p>

      <p class="text-xl pt-10">Is it cold outside: {% if cold %} YES {% else %} NO {% endif %}</p>

      <p class="text-xl-pt-10">
	Double of 100 is: {{ send_double(100) }}
      </p>

      <p class="text-xl-pt-10">{{ python_repo.pull() }}</p>

      <div class="w-100">
	{{ macro.card_grid("Jane Cooper", "HR", "Image", "/img/cat.jpg") }}
	{{ macro.card_grid("Jane Cooper", "HR", "Image", "/img/cat.jpg") }}
      </div>
    </div>
  </div>
{% endblock %}
