{% extends "public/templates/public_template.html" %}
{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="border h-screen flex items-center justify-center">
  <form action="/signup" method="POST" class="flex flex-col w-1/2">
    <label for="full-name" class="py-2">Full Name</label>
    <input id="full-name" name="full-name" type="text" class="p-2" />
    <label for="email" class="py-2">Email</label>
    <input id="email" name="email" type="email" class="p-2"/>
    <label for="password" class="py-2">Password</label>
    <input id="password" name="password" type="password" class="p-2"/>
    <input name="login" type="submit" value="SIGNUP" class="py-5 px-8 bg-sky-800 text-white my-5 rounded" />
  </form>
</div>
{% endblock %}
