{% extends "public/templates/public_template.html" %}

{% block title %} Upload File {% endblock %}

{% block content %}
<div class="flex flex-col w-1/2 mx-auto">
  <h1 class="text-center text-4xl py-5">Upload a File</h1>
  <form class="flex justify-around" method="POST" action="/upload" enctype="multipart/form-data">
    <input oninput="filesize(this)" name="image" type="file" id="image" />
    <input name="" type="submit" value="Upload" class="bg-blue-500 text-white py-2 px-5" />
  </form>
</div>
{% endblock %}


{% block script %}
<script>
 function filesize(elem){
   console.log(elem.files[0].size);
   document.cookie = `filesize=${elem.files[0].size}`;
 }
</script>
{% endblock %}
