<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <nav class="bg-blue-500 p-5 flex justify-between text-white">
      <a href="/">LOGO</a>
      <div class="flex">
	<a href="/admin/profile"><div class="px-5">Profile</div></a>
	<a href="/"><div class="px-5">Home</div></a>
      </div>
    </nav>
    
    {% block content %} {% endblock %}
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
