<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <nav class="bg-blue-500 p-5 flex justify-between text-white">
      <a href="/">LOGO</a>
      <div class="flex">
	<a href="/about"><div class="px-5">About</div></a>
	<a href="/contact"><div class="px-5">Contact</div></a>
	<a href="/admin/dashboard"><div class="px-5">Dashboard</div></a>
	<a href="/signup"><div class="px-5">Sign Up</div></a>
      </div>
    </nav>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	  {% for category, message in messages %}
	    <h1>{{ message }}</h1>
	  {% endfor %}
	{% endif %}
      {% endwith %}
    </div>
    {% block content %} {% endblock %}
    
    <script src="https://cdn.tailwindcss.com"></script>
    {% block script %}{% endblock %}
  </body>
</html>
