{% macro card_grid(user_name, post, alt, src) -%}
  <div class="my-10 border shadow">
    <div class="flex justify-around py-4 items-center">
      <div>
	<h1>{{ user_name }}</h1>
	<h3>{{ post }}</h3>
      </div>
      <div>
	<img class="w-24 h-24 rounded-full" alt="{{ alt }}" src="{{ url_for('static', filename=src) }}"/>
      </div>
    </div>
    <div class="flex">
      <div class="border w-1/2 flex justify-center">
	<p class="py-2">Email</p>
      </div>
      <div class="border w-1/2 flex justify-center">
	<p class="py-2">Call</p>
      </div>
    </div>
  </div>
{%- endmacro %}
